body {
    font-family: Trebuchet MS;
    background-color: #f8d481;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://www.xtrafondos.com/descargar.php?id=2927&resolucion=1920x1200");
    display: flex;
    align-items:center;
    flex-direction: column;
}   
h1 {
    color: rgba(253, 38, 0, 0.637);
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgba(211, 137, 0, 0.527);
    padding: 50px;
    border: 10px solid rgba(253, 38, 0, 0.637);
}
#spanId {
    font-size: 18px;
    margin: 50px;
}

#divClass {
    display: flex;
    align-items:center;
    flex-direction: column;
}